.Header-header{
    background-color: #2e9e5e;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin: 0px;
}

.Header-button {
    background-color:  #f9a916;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 75px;
}

.Header-button:hover {
    background-color: #d69111;
    cursor: pointer;
}

#Header-img {
    height: 42px;
    width: auto;
    object-fit: contain;
}