.sign-in-div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(249, 235, 162);

    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container {
    background-color: #84eaad;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.right-container {
    background-color: rgb(226, 249, 199);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.form {
    font-weight: bold;
}
